* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #111;
    padding: 15px 30px;
    z-index: 1000;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #ffe100;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.nav a:hover {
    color: #ff3c3c;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0b002d;
    color: #969696;
    padding: 20px;
    margin-top: 80px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffe100;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.film-card {
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.film-card,
.film-card:visited,
.film-card:hover,
.film-card:active {
    text-decoration: none;
    color: inherit;
}

.poster {
    width: 200px;
    height: 300px;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.poster:hover {
    transform: scale(1.05);
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.judul {
    font-size: 14px;
    font-weight: bold;
    color: #ddd;
    text-align: center;
}

.tahun {
    font-size: 12px;
    color: #aaa;
    margin-left: 2px;
}

.genre {
    font-size: 12px;
    color: #bbb;
}


/* ADDING BUTTON STYLES */
.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 30px;
    right: 30px;

    width: max-content;
    height: 60px;
    border-radius: 20px;

    background: #ff3c3c;
    color: white;
    font-size: 18px;
    font-style: bold;
    text-align: center;
    line-height: 60px;

    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transition: 0.3s;

    padding-left: 24px;
    padding-right: 24px;

    z-index: 1000;

}

.add-btn:hover {
    background: #ff1f1f;
    transform: scale(1.1);
}

/* JENDELA INPUT FILM */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0,0,0,0.7);
}

.modal-content {
    background: #1c1c1c;
    margin: 10% auto;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    color: white;
}

.modal input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: #333;
    border: none;
    color: white;
}

.modal button {
    width: 100%;
    padding: 10px;
    background: #ff3c3c;
    border: none;
    color: white;
    cursor: pointer;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}


/* DETAIL PAGE STYLES */

.detail-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.detail-card {
    display: flex;
    gap: 30px;
}

.detail-card .detail-poster img {
    width: 200px !important;
    height: 300px !important;
    object-fit: cover;
    border-radius: 8px;
}

.detail-info {
    display: flex;
    flex-direction: column;
}

.detail-info h1 {
    color: #ffe100;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.detail-info p {
    margin-bottom: 5px;
}

.detail-year {
    font-size: 24px;
    color: #aaa;
    margin-left: 12px;
}

.description {
    margin-top: 20px;
    line-height: 1.5;
    color: #ddd;
}

.back-btn {
    display: inline-block;
    /* margin-top: auto; */
    padding: 10px 20px;
    background: #ff3c3c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: max-content;
    margin-top: 20px;
}


.back-btn:hover {
    background: #ff1f1f;
}

/* ACTION GROUP*/
.action-group {
    display: flex;
    gap: 10px;
    margin-top: auto;
    width: max-content;
    flex-direction: column;
}

/* MODAL EDITOR */
.edit-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #ffe100;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width:auto;
}

.edit-btn:hover {
    background: #ffd000;
}

.modal input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: #333;
    border: none;
    color: white;
}

.desc-box {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #333;
    border: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    resize: vertical;
    min-height: 100px;
    resize: none;
}

.desc-box:focus {
    outline: none;
}

.form-group {
    display: flex;
    align-items: first baseline;
    margin-top: 10px;
    flex-direction: column;
}

.form-group label {
    width: 100px;
    color: #ccc;
    font-size: 12px;
}

.form-group input,
.form-group textarea {
    flex: 1;
}

/* DELETE BUTTON */
.delete-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #ff3c3c;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}

.delete-btn:hover {
    background: #ff1f1f;
}